
.bg-card{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-image{
    max-width: 200px !important;
    margin: 10px;
}
.btn-custom-book{
    background-color: #20C0F3;
}